//Original Colors
$main-color: $main-color;
$background-color: $color-1;
$font-color: $main-color;
$navbar-color: $color-1;

//Button
$buttonBackgroundColor: $color-1;

//Button:hover
$buttonHoverColor: $main-color;

//Button:active
$buttonActiveColor: $main-color;
$buttonActiveBackground: $main-color;
$buttonColorActiveBorder: $main-color;

//Scrollbar
$scrollBarColor: $color-1;

//Links
$linkVisitedColor: $main-color;
$linkActiveColor: $main-color;

//Cart
$cartWidgetFontColor: $main-color;
$itemInCartBackgroundColor: $color-1;
$itemInCartBorderColor: $color-1;
$menuCartBackgroundColor: $color-1;
$menuCartPriceFontColor: $main-color;
$itemTitleDetailFontColor: $main-color;

//Item
$itemBorderColor: $color-1;
$itemBackgroundColor: $color-1;
$itemStockBackgroundColor: $color-1;
$itemStockFontColor: $main-color;
$imageBorderColor: $color-1;
$detailFontColor: $main-color;
$countNumberColor: $main-color;

//Badge
$gameBadgePriceColor: $color-1;
$gameBadgePriceBackground: $main-color;
$gameBadgeGenreColor:$main-color;
$gameBadgeGenreBackground:$color-1;

//Shadow
$shadowColor: $main-color;